*{
     margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: rgb(158, 67, 67);
}


header {
    background-color: rgb(212, 202, 202) ;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}


.texto-pequeno {
    color: rgb(112, 5, 5);
    font-size: 10px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}


#titulo-header p {
    color: black;
    font-size: 20px;
    font-weight: bold;
}


#menu-header {
    display: flex;
    gap:10px;
}


#menu-header p {
    color: black;
    font-size: 12px;
}


main {
    padding: 20px;
}


#vampiro {
    background-color: rgb(136, 50, 50);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#texto-vampiro h1 {
    font-size: 80px;
}


#texto-vampiro p{
    font-size: 16px;
}


#img-vampiro img {
    width:350px;
    padding: 20px;
}


#galeria-texto {
    margin-top: 50px;
}


.card {
    background-color: rgb(242, 217, 217);
    width: 30%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}


.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


#galeria-imgs {
    display: flex;
    gap: 10px;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}


.card-texto {
    padding: 10px;
}


footer hr {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: antiquewhite;
}
